node_modules/
package-lock.json
yarn.lock

dist/
build/

logs/
*.log
.cache/

.git/
.hg/
.svn/

.env
*.env.development
*.env.production
*.env.test

*.csv
*.sqlite
*.sqlite3
*.tar.gz
*.zip

coverage/
.vscode/
.idea/

*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.eot
*.ttf
*.woff
*.woff2
*.mp4
*.mov

*.min.js
*.min.css

*.md
*.markdown
docs/

.DS_Store
Thumbs.db